################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Utilitarios
/data
/Files
/Release
/Seguridad
/Pictures
